
#signup
  p.
    <span>We're in private beta.</span>
     Sign up below to get an early invite.
  form(action="/signup", method="post")
    input(id="email",name="email",type="text",size="30",placeholder="Enter Your Email")
    input(name="commit",type="submit",value="Sign up",src="")