

section#articles(role='main')
  article#article1
    h2 Photoshoot Effect
    .body
      p Some text
      
aside#tweets
	hgroup
		h2 Latest Tweets
		h3 blah blah
	p.
		Some writeup

section#extras
	.blogroll
		h2 blogroll
		ul
			li
				a(href='#', rel='external') Twitter
	.social
		h2 Social
		ul
			li
				a(href='#', rel='external') Twitter